<div class="container">
  <div class="form-container">
    <div class="header">
      <a href="" class="logo-container">
        <img
          src="assets/svg/trainkit-logo.svg"
          class="trainkit-logo"
          alt="trainkit-logo"
          height="30"
        />
      </a>
      <div class="signup-link">
        Already have an account?
        <a [routerLink]="['/', signInLink]">Log in</a>
      </div>
    </div>

    <h1>Create your account</h1>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signin-form">
      <div class="input-group" *ngIf="signupForm.get('firstName')">
        <span class="material-icons">person</span>
        <input
          formControlName="firstName"
          placeholder="First Name"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('firstName')?.touched &&
          signupForm.get('firstName')?.invalid
        "
      >
        First name is required.
      </div>

      <div class="input-group" *ngIf="signupForm.get('lastName')">
        <span class="material-icons">person</span>
        <input
          formControlName="lastName"
          placeholder="Last Name"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('lastName')?.touched &&
          signupForm.get('lastName')?.invalid
        "
      >
        Last name is required.
      </div>

      <div class="input-group" *ngIf="signupForm.get('email')">
        <span class="material-icons">email</span>
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('email')?.touched && signupForm.get('email')?.invalid
        "
      >
        Valid email is required.
      </div>

      <div class="input-group" *ngIf="signupForm.get('password')">
        <span class="material-icons">lock</span>
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('password')?.touched &&
          signupForm.get('password')?.invalid
        "
      >
        Password must be at least 6 characters.
      </div>

      <button type="submit" class="login-btn">Sign Up</button>
    </form>
  </div>
</div>
