<div
  class="dropdown-wrapper"
  [ngClass]="{ 'is-mobile': isMobile }"
  (mouseenter)="!isMobile && show()"
  (mouseleave)="!isMobile && hide()"
>
  <div class="dropdown-trigger" (click)="toggle()" *ngIf="!isMobile">
    {{ DropdownMenu.trigger }}
    <span class="material-icons">
      {{ isExpanded ? "expand_less" : "expand_more" }}
    </span>
  </div>
  <div class="dropdown-trigger" *ngIf="isMobile">
    {{ DropdownMenu.trigger }}
  </div>
  <div class="dropdown-menu" *ngIf="isExpanded || isMobile">
    <div class="dropdown-content">
      <div *ngFor="let content of DropdownMenu.content">
        <span class="dropdown-title">{{ content.title }}</span>
        <a
          [href]="item.link"
          class="dropdown-item"
          *ngFor="let item of content.item"
        >
          <img [src]="item.icon" height="50" />
          <div class="info">
            <span class="title">{{ item.title }}</span>
            <span class="description">{{ item.description }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
