<app-header />

<main>
  <h1>TrainKit Data Engine</h1>
  <p>Build smarter datasets for smarter AI.</p>

  <p>
    TrainKit Data Engine is a platform designed to accelerate the training of AI
    models by offering a clean, intuitive interface to manage, annotate, and
    export datasets. Whether you're working with text, images, or custom
    formats, TrainKit simplifies your data workflows. With user authentication,
    dataset versioning, example status tracking, and export features, it's your
    all-in-one workspace for preparing high-quality machine learning data.
  </p>
</main>
<app-footer />
