<div class="container">
  <div class="form-container">
    <div class="header">
      <a href="" class="logo-container">
        <img
          src="assets/svg/trainkit-logo.svg"
          class="trainkit-logo"
          alt="trainkit-logo"
          height="30"
        />
      </a>
      <div class="signup-link">
        Already have an account?
        <a [routerLink]="['/', signInLink]">Log in</a>
      </div>
    </div>

    <h1>Create your account</h1>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signin-form">
      <div class="input-group" *ngIf="signupForm.get('email')">
        <span class="material-icons">email</span>
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('email')?.touched && signupForm.get('email')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        Email cannot be blank
      </div>

      <div class="input-group" *ngIf="signupForm.get('password')">
        <span class="material-icons">lock</span>
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('password')?.touched &&
          signupForm.get('password')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        Password cannot be blank
      </div>

      <div class="input-group" *ngIf="signupForm.get('username')">
        <span class="material-icons">person</span>
        <input
          formControlName="username"
          type="text"
          placeholder="Username"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          signupForm.get('username')?.touched &&
          signupForm.get('username')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        Username cannot be blank
      </div>

      <button type="submit" class="login-btn">Sign Up</button>
    </form>
  </div>
</div>
