<app-header />

<div class="landing-container">
  <h1 class="landing-title">
    <span>Empower <span class="gradient-text">AI</span></span>
    <span>With Your OWN Data</span>
  </h1>
  <h2 class="landing-subtitle">
    Build the best models with the best data. TrainKit Data Engine powers nearly
    all major core models to manage their data.
  </h2>
  <div class="landing-button">
    <app-sign-up-button></app-sign-up-button>
    <a href="/about">
      <div class="learn-more-button">
        Learn More
        <div class="material-icons arrow-right">arrow_right_alt</div>
      </div>
    </a>
  </div>
</div>

<app-footer />
