<app-header />
<main>
  <h1>About TrainKit</h1>

  <p>
    TrainKit was created to solve a common problem faced by developers and
    researchers: managing datasets efficiently. Our mission is to provide a
    lightweight but powerful tool to help you label, organize, and export data
    with ease. Unlike bulky enterprise solutions, TrainKit focuses on usability
    and simplicity — making it ideal for agile teams and independent developers
    working on AI, NLP, and data-driven projects.
  </p>
</main>
<app-footer />
