<div class="container">
  <div class="form-container">
    <div class="header">
      <a href="" class="logo-container">
        <img
          src="assets/svg/trainkit-logo.svg"
          class="trainkit-logo"
          alt="trainkit-logo"
          height="30"
        />
      </a>
      <div class="signup-link">
        Don't have an account?<a [routerLink]="['/', signUpLink]">Sign up</a>
      </div>
    </div>
    <h1>Log in to your account</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="signin-form">
      <div class="input-group" *ngIf="loginForm.get('email')">
        <span class="material-icons">person</span>
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          loginForm.get('email')?.touched && loginForm.get('email')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        Email cannot be blank
      </div>
      <div class="input-group" *ngIf="loginForm.get('password')">
        <span class="material-icons">lock</span>
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        Password cannot be blank
      </div>
      <div class="error" *ngIf="errorMessage">
        <div class="material-icons error-icon">warning</div>
        {{ errorMessage }}
      </div>
      <button type="submit" class="login-btn">Log In</button>
      <div class="reset-password-link">
        <a [routerLink]="['/', forgotPasswordLink]"
          >Don't remember your password?</a
        >
      </div>
    </form>
  </div>
</div>
