<div class="container">
  <div class="form-container">
    <div class="header">
      <a href="" class="logo-container">
        <img
          src="assets/svg/trainkit-logo.svg"
          class="trainkit-logo"
          alt="trainkit-logo"
          height="30"
        />
      </a>
      <div class="signup-link">
        Don't have an account?<a [routerLink]="['/', signUpLink]">Sign up</a>
      </div>
    </div>
    <h1>Log in to your account</h1>
    <form action="" class="signin-form">
      <div class="input-group">
        <span class="material-icons">person</span>
        <input name="email" type="email" placeholder="Email" class="input" />
      </div>
      <div class="input-group">
        <span class="material-icons">lock</span>
        <input
          name="password"
          type="password"
          placeholder="Password"
          class="input"
        />
      </div>
      <button type="submit" class="login-btn">Log In</button>
      <div class="reset-password-link">
        <a href="">Don't remember your password?</a>
      </div>
    </form>
  </div>
</div>
