<div class="container">
  <div class="form-container">
    <div class="header">
      <a href="" class="logo-container">
        <img
          src="assets/svg/trainkit-logo.svg"
          class="trainkit-logo"
          alt="trainkit-logo"
          height="30"
        />
      </a>
      <div class="signup-link">
        Remember your password?<a [routerLink]="['/', signInLink]">Sign in</a>
      </div>
    </div>
    <h1>Reset your password</h1>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="signin-form">
      <div class="input-group" *ngIf="resetForm.get('newPassword')">
        <span class="material-icons">lock</span>
        <input
          formControlName="newPassword"
          type="password"
          placeholder="New Password"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          resetForm.get('newPassword')?.touched &&
          resetForm.get('newPassword')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        <span *ngIf="resetForm.get('newPassword')?.errors?.['required']">
          New password cannot be blank
        </span>
      </div>

      <div class="input-group" *ngIf="resetForm.get('confirmPassword')">
        <span class="material-icons">lock</span>
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm Password"
          class="input"
        />
      </div>
      <div
        class="error"
        *ngIf="
          resetForm.get('confirmPassword')?.touched &&
          resetForm.get('confirmPassword')?.invalid
        "
      >
        <div class="material-icons error-icon">warning</div>
        <span *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">
          Please confirm your password
        </span>
      </div>

      <div class="error" *ngIf="errorMessage">
        <div class="material-icons error-icon">warning</div>
        {{ errorMessage }}
      </div>

      <div class="success" *ngIf="successMessage">
        <div class="material-icons success-icon">check_circle</div>
        {{ successMessage }}
      </div>

      <button type="submit" class="login-btn">Reset Password</button>
    </form>
  </div>
</div>
